.sidebarFriend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
}

.sidebarFriend:hover {
  background-color: rgba(128, 128, 128, 0.075);
}

.sidebarFriendLeft {
  display: flex;
  align-items: center;
}
.sidebarFriendImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}

.sidebarFriendName {
  font-weight: 400;
  font-size: 18px;
}

.sidebarFriendFollowers {
  font-size: 14px;
  color: gray;
}
